Repository karvrak/gigaWhisper: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

codecov.yml:

# Codecov Configuration
# https://docs.codecov.com/docs/codecov-yaml

coverage:
  precision: 2
  round: down
  range: "50...100"

  status:
    project:
      default:
        target: 50%
        threshold: 2%
        informational: false
    patch:
      default:
        target: 50%
        threshold: 5%
        informational: true

parsers:
  gcov:
    branch_detection:
      conditional: true
      loop: true
      method: false
      macro: false

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: true
  require_base: false
  require_head: true

flags:
  frontend:
    paths:
      - src/
    carryforward: true
  backend:
    paths:
      - src-tauri/src/
    carryforward: true

ignore:
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/*.spec.tsx"
  - "**/test/**"
  - "**/tests/**"
  - "**/*.d.ts"
  - "**/build.rs"
  - "**/main.rs"
  - "src/main.tsx"

chore: bump version to 1.0.3
  CHANGELOG.md
  package.json
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: none

feat: GigaWhisper - 0 tache(s) traitee(s) par IA
  package-lock.json
  package.json
  src/components/Onboarding.test.tsx
  src/components/SettingsPanel.test.tsx
Due: none

feat: GigaWhisper - 0 tache(s) traitee(s) par IA
  landing/README.md
  landing/assets/favicon.svg
  landing/assets/logo.svg
  landing/index.html
Due: none

feat: GigaWhisper - 0 tache(s) traitee(s) par IA
  package-lock.json
  src-tauri/Cargo.lock
  src/components/Onboarding.test.tsx
  src/components/SettingsPanel.test.tsx
Due: none

fix: resolve clippy warnings and add ESLint 9 flat config
  eslint.config.js
  package.json
  src-tauri/Cargo.lock
  src-tauri/src/audio/vad.rs
  src-tauri/src/config/migration.rs
  src-tauri/src/config/settings.rs
  src-tauri/src/history/mod.rs
  src-tauri/src/output/focus.rs
  src-tauri/src/shortcuts/handler.rs
  src-tauri/src/transcription/orchestrator.rs
Due: backend

fix: update pnpm-lock.yaml and remove stale package-lock.json
  package-lock.json
  pnpm-lock.yaml
Due: none

chore: bump version to 1.0.4
  package.json
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: none

chore: bump version to 1.0.5
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/shortcuts/handler.rs
  src-tauri/src/shortcuts/mod.rs
  src-tauri/src/shortcuts/mouse_hook.rs
  src-tauri/tauri.conf.json
  src/App.tsx
  src/components/App.test.tsx
  src/components/HistoryPanel.tsx
  src/components/HotkeyInput.tsx
  src/components/ModelSelector.tsx
  src/components/Onboarding.test.tsx
  src/components/Onboarding.tsx
  src/components/PopupOverlay.tsx
  src/components/ProviderToggle.test.tsx
  src/components/ProviderToggle.tsx
  src/components/RecordingIndicator.tsx
  src/components/SettingsPanel.test.tsx
  src/components/SettingsPanel.tsx
  src/components/UpdateNotification.tsx
  src/styles/globals.css
  src/windows/PopupWindow.css
  src/windows/RecordingIndicator.css
  tailwind.config.js
Due: frontend, backend

fix: update tests to match component changes for v1.0.5
  src/components/HotkeyInput.test.tsx
  src/components/Onboarding.test.tsx
  src/components/SettingsPanel.test.tsx
Due: none

style: apply rustfmt formatting to all Rust source files
  src-tauri/Cargo.lock
  src-tauri/src/audio/capture.rs
  src-tauri/src/audio/vad.rs
  src-tauri/src/commands/clipboard.rs
  src-tauri/src/commands/history.rs
  src-tauri/src/commands/settings.rs
  src-tauri/src/commands/transcription.rs
  src-tauri/src/config/secrets.rs
  src-tauri/src/config/settings.rs
  src-tauri/src/config/store.rs
  src-tauri/src/history/mod.rs
  src-tauri/src/lib.rs
  src-tauri/src/models/downloader.rs
  src-tauri/src/models/manager.rs
  src-tauri/src/output/clipboard.rs
  src-tauri/src/shortcuts/handler.rs
  src-tauri/src/shortcuts/mouse_hook.rs
  src-tauri/src/transcription/groq.rs
  src-tauri/src/transcription/orchestrator.rs
  src-tauri/src/transcription/service.rs
  src-tauri/src/transcription/streaming.rs
  src-tauri/src/transcription/whisper.rs
  src-tauri/src/updater.rs
  src-tauri/src/utils/cpu.rs
  src-tauri/src/utils/metrics.rs
  src-tauri/tests/integration/pipeline.rs
Due: backend

chore: structure release workflow and update changelog
  .github/workflows/ci.yml
  .github/workflows/release.yml
  CHANGELOG.md
  package.json
  scripts/create-missing-releases.sh
  scripts/release.sh
  src-tauri/Cargo.toml
Due: none

fix: resolve clippy warnings for v1.0.6
  src-tauri/Cargo.lock
  src-tauri/src/commands/premium.rs
  src-tauri/src/licensing/gate.rs
  src-tauri/src/licensing/license.rs
  src-tauri/src/transcription/deepgram.rs
  src-tauri/src/transcription/openai.rs
Due: backend

fix: exclude premium modules from coverage thresholds
  vitest.config.ts
Due: none

chore: bump version to 1.0.7
  .github/workflows/release.yml
  CHANGELOG.md
  package-lock.json
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/capabilities/default.json
  src-tauri/gen/schemas/acl-manifests.json
  src-tauri/gen/schemas/capabilities.json
  src-tauri/gen/schemas/desktop-schema.json
  src-tauri/gen/schemas/windows-schema.json
  src-tauri/src/commands/settings.rs
  src-tauri/src/config/settings.rs
  src-tauri/src/lib.rs
  src-tauri/src/updater.rs
  src-tauri/tauri.conf.json
  src/components/SettingsPanel.tsx
  src/components/UpdateNotification.tsx
  src/hooks/useSettings.test.ts
  src/hooks/useSettings.ts
Due: frontend, backend

fix: resolve CI failures (unused var, rustfmt)
  src-tauri/src/commands/contexts.rs
  src-tauri/src/commands/premium.rs
  src-tauri/src/config/migration.rs
  src-tauri/src/lib.rs
  src-tauri/src/llm/anthropic.rs
  src-tauri/src/llm/groq.rs
  src-tauri/src/llm/mod.rs
  src-tauri/src/llm/openai.rs
  src-tauri/src/transcription/deepgram.rs
  src-tauri/src/transcription/openai.rs
  src-tauri/src/transcription/service.rs
  src-tauri/src/updater.rs
  src/components/UpdateNotification.tsx
Due: frontend, backend

fix: update @tauri-apps/api to match Rust crate version
  package.json
  pnpm-lock.yaml
Due: none

docs: redesign README as open-source showcase
  README.md
  docs/assets/demo.gif
Due: none

feat: simplify Settings tabs with dropdown selector
  package.json
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
  src/components/SettingsPanel.test.tsx
  src/components/SettingsPanel.tsx
Due: frontend

fix: apply rustfmt formatting
  src-tauri/src/config/secrets.rs
  src-tauri/src/history/mod.rs
  src-tauri/src/transcription/deepgram.rs
Due: backend

fix: make release workflow idempotent on re-runs
  .github/workflows/release.yml
Due: none

fix: use .nsis.zip updater bundle for auto-update signatures
  .github/workflows/release.yml
  CHANGELOG.md
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: none

fix: replace tauri-action with direct build and add artifact verification
  .github/workflows/release.yml
Due: none

fix: enable updater artifact generation with createUpdaterArtifacts
  src-tauri/tauri.conf.json
Due: none

feat: add context presets, post-processing UI and update signing pubkey
  src-tauri/src/transcription/service.rs
  src-tauri/tauri.conf.json
  src/components/premium/ContextEditor.tsx
  src/components/premium/ContextManager.tsx
  src/types/contextPresets.ts
Due: frontend, backend

chore: bump version to 1.0.11 for auto-update test
  package.json
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: none

fix: update license API URL to gigawhisper.com and fix CI build
  .github/workflows/ci.yml
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/licensing/license.rs
  src-tauri/src/transcription/groq.rs
  src-tauri/tauri.conf.json
Due: backend

feat: emit premium:changed event on license activation/deactivation
  package.json
  src-tauri/Cargo.toml
  src-tauri/src/commands/premium.rs
  src-tauri/tauri.conf.json
  src/hooks/usePremium.ts
Due: frontend, backend

style: fix cargo fmt formatting in premium.rs
  src-tauri/src/commands/premium.rs
Due: backend

feat: preload whisper model, enable auto-start/update defaults, bump v1.0.13
  src-tauri/Cargo.lock
  src-tauri/src/config/settings.rs
  src-tauri/src/lib.rs
  src-tauri/tauri.conf.json
  src/components/HistoryPanel.tsx
Due: frontend, backend

feat: single exe build, improved transcription service, context editor enhancements, bump v1.0.14
  .github/workflows/release.yml
  ANALYSE_PRODUIT.md
  src-tauri/.cargo/config.toml
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/build_info.rs
  src-tauri/src/commands/apps.rs
  src-tauri/src/commands/mod.rs
  src-tauri/src/config/migration.rs
  src-tauri/src/config/settings.rs
  src-tauri/src/history/mod.rs
  src-tauri/src/lib.rs
  src-tauri/src/llm/anthropic.rs
  src-tauri/src/llm/groq.rs
  src-tauri/src/llm/openai.rs
  src-tauri/src/output/focus.rs
  src-tauri/src/transcription/deepgram.rs
  src-tauri/src/transcription/groq.rs
  src-tauri/src/transcription/openai.rs
  src-tauri/src/transcription/orchestrator.rs
  src-tauri/src/transcription/provider.rs
  src-tauri/src/transcription/service.rs
  src-tauri/src/transcription/whisper.rs
  src-tauri/src/updater.rs
  src-tauri/tauri.conf.json
  src/components/UpdateNotification.tsx
  src/components/premium/ContextEditor.tsx
  src/components/premium/ContextManager.tsx
  src/components/premium/PostProcessingConfig.tsx
  src/hooks/useSettings.test.ts
  src/hooks/useSettings.ts
  src/types/contextPresets.ts
  src/types/premium.ts
Due: frontend, backend

feat: temporary context overrides, auto-switch at recording start, sync API key flags, bump v1.0.15
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/commands/recording.rs
  src-tauri/src/config/settings.rs
  src-tauri/src/lib.rs
  src-tauri/src/shortcuts/handler.rs
  src-tauri/src/transcription/service.rs
  src-tauri/tauri.conf.json
  src-tauri/tests/integration/pipeline.rs
Due: backend

feat: add custom provider support for transcription and LLM post-processing
  src-tauri/Cargo.lock
  src-tauri/src/commands/settings.rs
  src-tauri/src/config/migration.rs
  src-tauri/src/config/secrets.rs
  src-tauri/src/config/settings.rs
  src-tauri/src/lib.rs
  src-tauri/src/licensing/gate.rs
  src-tauri/src/llm/custom.rs
  src-tauri/src/llm/mod.rs
  src-tauri/src/shortcuts/handler.rs
  src-tauri/src/transcription/custom.rs
  src-tauri/src/transcription/mod.rs
  src-tauri/src/transcription/service.rs
  src-tauri/src/transcription/whisper.rs
  src-tauri/src/updater.rs
  src/components/SettingsPanel.test.tsx
  src/components/SettingsPanel.tsx
  src/components/premium/ContextEditor.tsx
  src/components/premium/ContextManager.tsx
  src/components/premium/PostProcessingConfig.tsx
  src/hooks/useSettings.test.ts
  src/hooks/useSettings.ts
  src/types/premium.ts
Due: frontend, backend

chore: update changelog and bump version to v1.0.16
  CHANGELOG.md
  package.json
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: none

style: fix cargo fmt formatting issues in handler, whisper, updater
  src-tauri/src/shortcuts/handler.rs
  src-tauri/src/transcription/whisper.rs
  src-tauri/src/updater.rs
Due: backend

fix: recording indicator not showing on shortcut press
  src-tauri/Cargo.lock
  src-tauri/src/shortcuts/handler.rs
  src/windows/RecordingIndicator.tsx
Due: frontend, backend

style: fix cargo fmt formatting in handler.rs
  src-tauri/src/shortcuts/handler.rs
Due: backend

fix(ci): add Vulkan SDK setup for Windows jobs, disable vulkan for Ubuntu coverage
  .github/workflows/ci.yml
Due: none

feat(IA): GigaWhisper - 1 tâche(s) traitée(s)
  src-tauri/src/shortcuts/handler.rs
Due: backend
